@model List<electronic_equipment_store.Models.DBModels.Reviews>

<main>
    <h1>Отзывы</h1>
    @foreach (var rev in Model)
    {
        <div class="review-card">
            <p>Продукция: @rev.product_id</p>
            <p>Пользователь: @rev.customer_id</p>
            <p>Комментарий:@rev.review_text</p>
            <p>Оценка: @rev.rating</p>
        </div>
    }
    @using (Html.BeginForm("AddReviews", "Main", FormMethod.Post))
    {
        <h3 style="text-align:center; margin:0;">Оставить отзыв</h3>
        <div>
            <label for="comment">Комментарий:</label>
            @Html.TextArea("comment", null, new { @class = "form-control", required = "required", rows = "4" })
        </div>
        <div>
            <label for="type">Комплектующее:</label>
            @Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewBag.ComponentList, new { @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="rating">Оценка:</label>
            @Html.TextBox("rating", null, new { @class = "form-control", required = "required", type = "number", min = "1", max = "5" })
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    }
</main>